@import url(default.css);

/* 헤더 */
header{height: 355px;width: 100%;background: url(../image/sub_visual_board.jpg) center top no-repeat;background-size:cover;color: white;position: relative;}
header h2.logo{float: left;padding: 38px 0 0 80px;}
header h2.logo img{width: 170px;}
header .gnb{float: right;padding: 53px 20px 0 0;}
header .gnb a img{width: 0;}
header .gnb ul li{display: inline-block;margin-right: 4.79vw;}
header .gnb ul li a{color: white;}
header .lnb{bottom: -1px;}
header .lnb ul{height: 68px;}
header .lnb ul li{width:316px;float: left;text-align: center;border: 1px solid #c6c6c6;height: 68px;line-height: 68px;font-size: 22px;border-top: none;background-color: white;color: black;}
header .lnb ul li:last-child{background: #193b8f url(../image/lnb_bg.png) center right no-repeat;color: white;border: none;}

/* 섹션 */
section{height: 965px;}
section .page-title{height: 130px;text-align: center;margin-bottom: 38px;}
section .page-title h2{color: #222;display: inline-block;font-size: 48px;font-weight: bold;line-height: 1;padding-top: 80px;}
section .page-title a{margin-left: 10px;}
section .page-title img{width: 50px;}
section .content{height: 580px;margin: 0 auto;}
section .content .search{width: 360px;height: 37px;float: right;border-bottom: 3px solid #3c3c3c;}
section .content .search input{border: 0;margin-left: 27px;}
section .content .search input:focus{outline: none;}
section .content .search img{width: 27px;float: right;}
section .content .table{padding-top: 68px;}
section .content .table .table-head{height: 59px;background: #112d6c;border-radius: 35px;color:white;line-height: 59px;}
section .content .table .table-head ul{text-align: center;}
section .content .table .table-head ul li{display: inline-block;width: 70.5%;}
section .content .table .table-head ul li:first-child,
section .content .table .table-head ul li:last-child{width: 11%;}
section .content .table .table-list ul{border-bottom:1px solid #ccc ;}
section .content .table .table-list ul li{padding: 21px 0 18px 0;text-align: center;line-height: 22px;color: #666;vertical-align: middle;}
section .content .table .table-list ul li.number{float: left;width: 185px;}
section .content .table .table-list ul li.subject{display: inline-block;}
section .content .table .table-list ul li.subject a{display: inline-block;vertical-align: middle;padding-right: 22px;}
section .content .table .table-list ul li.subject .list-new{display: inline-block;background: url(../image/ico_board_new.png) center no-repeat;width: 28px; height: 28px; background-size: cover;top: 19px;vertical-align: middle;}
section .content .table .table-list ul li.date{float: right;width: 185px;}
section .content .page-number{margin-top: 45px;}
section .content .page-number ul li{vertical-align: middle;display: inline-block;line-height: 1;margin-right: 25px;}
section .content .page-number ul li a img{width: 20px;height: 40px;}
section .board-period{text-align: right;margin: 75px auto 0 auto;}
section .board-period a{background-color: #112d6c;color: white;padding: 10px 20px;}


/* 푸터 */
footer{height: 170px;width: 100%;background-color: #222;}
footer h2{float: left; margin: 40px 0 0 10px;}
footer h2 img{width: 185px;}
footer address{margin: 55px 0 0 35px;float: left;}
footer address p{color: #777674;font-size: 14px;}
footer .footer-select{float: right;width: 238px;border-bottom: 1px solid #777674;margin-top: 58px;}
footer .footer-select .footer-btn-plus{margin: 0px 0px 15px 18px;}
footer .footer-select .footer-btn-plus a{color: #bebebe;}
footer .footer-select .footer-btn-plus a:before{position: absolute;content: '';right: 20px;top: 63px;background: url(../image/footer_btn_more.png) center no-repeat;width: 16px;height: 16px;background-size: cover;}



/* 미디어 쿼리 */
@media (max-width: 1290px){
    .container{width: 100%;}
}
@media (max-width: 1024px){
    header h2.logo{padding: 38px 0 0 30px;}
    header h2.logo img{width: 262px;}    
    header .gnb{padding: 53px 55px 0 0;} 
    header .gnb ul{display:none;}
    header .gnb a img{width: 47px;}
    header .lnb ul li{width: 84.57vw;font-size: 30px;height: 93px;line-height: 93px;font-size: 40px;}
    section{height: 1400px;}
    section .page-title{display: none;}
    section .content{width: 95vw;margin: 0 auto;height: 1175px;}
    section .content .search{margin: 118px 0 35px 0;width: 100%;height: 80px;}
    section .content .search input{font-size: 30px;}
    section .content .search img{width: 50px;}
    section .content .table .table-head{display: none;}
    section .content .table .table-list ul li{text-align: left;font-size: 20px;}
    section .content .table .table-list ul li.date{float: none;}   
    section .content .table .table-list ul li.subject a{font-size: 28px;}
    section .content .table .table-list ul li.subject .list-new{width: 35px;}
    section .content .table .table-list ul li.number{display: none;}    
    section .content .page-number{text-align: center;font-size: 21px;}
    section .content .page-number ul li a img{width: 34px;height: 64px;}
    section .board-period{text-align: center;margin:0 auto;width: 94vw;}
    section .board-period a{font-size: 20px;padding: 25px;display: block;}
    footer{height: 435px;}
    footer .footer-select{float: none;width:94vw;margin:0 auto ;font-size: 43px;border-bottom: 3px solid #777674;padding-top: 35px;}
    footer .footer-select .footer-btn-plus a:before{width: 45px;height: 45px;top: 45px;right: 45px;}
    footer h2{float: none;text-align: center;}
    footer h2 img{width: 290px;}
    footer address{float: none;}
    footer address p{text-align: center;font-size: 22px;}
}
@media (max-width: 768px){
    header{height: 189px;}
    header h2.logo img{width: 133px;}
    header .gnb a img{width: 23px;}
    header .lnb ul{height: 47px;}
    header .lnb ul li{height: 46px;line-height: 46px;font-size: 20px;}    
    section .content .search{height: 40px;}
    section .content .search img{width: 25px;}
    section .content .search input{font-size: 20px;}
    section .content .table .table-list ul li.subject a{font-size: 20px;}
    section .content .table .table-list ul li.subject .list-new{width: 14px;height: 14px;}
    footer{height: 280px;}
    footer .footer-select{font-size: 20px;}
    footer .footer-select .footer-btn-plus a:before{width: 23px;height: 23px;top: 38px;right: 35px;}
    footer h2 img{width: 144px;}
    footer address{margin: 20px;}
    footer address p{font-size: 12px;}
}
@media (max-width: 435px){
    header h2.logo img{width: 110px;}
    section .board-period a{font-size: 16px;}
    section .content .table .table-list ul li{font-size: 16px;}
    section .content .table .table-list ul li.subject a{font-size: 16px;}
    footer address p{font-size: 11px;}
}